.rightContainer{
  .gridOuter{
    border: 1px solid gray;
    .productContainer{
      min-height: 40vh;
      padding: 10px;
      .imageContainer{
        text-align: center;
        .image{
          width: 100%;
          height: 300px;
          object-fit: scale-down;
        }
      }
      .titleContainer{
        color: gray;
        font-weight: 200;
        font-size: 18px;
        line-height: 25px;
        .truncate {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%; /* or whatever width you want */
        }
      }
      .productDescription{
        .truncate {
          text-align: justify;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // max-width: 100%; /* or whatever width you want */
        }
      }
      .priceContainer{
        .price{

        }
      }
    }
  }
}
