<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="30"></div>
    <div fxFlex="70" fxLayout="row wrap" class="rightContainer">
      <div fxFlex="30" *ngFor="let item of data">
        <div class="gridOuter">
          <div class="productContainer">
            <div class="imageContainer" fxLayout="column" fxLayoutAlign="center center">
              <img [src]="item.image" class="image">
            </div>
            <div class="titleContainer">
              <p class="truncate">{{item.title}}</p>
            </div>
            <div class="productDescription">
              <p class="truncate">{{item.description | ellipsis:100}}</p>
            </div>
            <div class="priceContainer">
              <p class="truncate">{{item.price}}$</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
